* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, textarea {
  width: 270px;
}
form input {
  height: 25px;
  padding: 5px;
}
form button {
  margin: 0;
  width: 135px;
}
form textarea {
  height: 50px;
}

p {
  margin: 0;
}


#formSection, .bookmark-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  margin: 5px;
  padding: 10px;
}

.expandedArea {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.siteRating{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rating {
  display: none;
}
.rating:checked ~ label {
  color: orange;
}
.checked {
  margin: 0;
  color: black;
}
.checked:hover,
.checked:hover ~ .checked:before {
  color: orange;
}
.star {
  color: orange;
}